<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas Agendadas</title>
    <script src="../javaScript/cadastroconsulta.js"></script>
    <script src="../javaScript/consultasagendadas.js"></script>
    <script src="../javaScript/horariosconsultas.js"></script>
    <script src="../javaScript/server.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>
    <div class="container"></div>
    <h1>Consultas Agendadas</h1>
    <ul id="consultasList">
        <!-- As consultas serão preenchidas dinamicamente com JavaScript -->
    </ul>
    </div>
</body>

</html>